body {
  font-family: sans-serif;
}

button {
  background-color: white;
  border: solid 1px lightgray;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

button:disabled {
  cursor: not-allowed;
}

#status-text {
  height: 18px;
}

.hints {
  font-size: 15px;
  margin-bottom: 15px;
}
