body {
  font-family: sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

.demo-wrapper {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 15px 15px 15px;
  vertical-align: top;
  min-height: 400px;
  width: 50%;
  margin-bottom: 30px;
}

@media only screen and (max-width: 750px) {
  .demo-wrapper {
    width: 100%;
  }
}


div#donut-chart, div#slider-donut-chart {
  height: 260px;
}

.demo-sub-header {
  min-height: 50px;
}

button {
  background-color: white;
  border: solid 1px lightgray;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}

button:disabled {
  cursor: not-allowed;
}

#status-text {
  height: 18px;
}

.hints {
  font-size: 15px;
}

#slider {
  width: 75%;
  margin-top: 15px;
}

#slider-value {
  font-size : 30px;
}

circle.design {
  fill: #2FBF71;
}

circle.development {
  fill: #348AA7;
}

circle.data-science {
  fill: #EAC435;
}
